<div class="wid100per lmar0 rmar0 lpad0 rpad0">
  <div class="heroback tpad75 bpad75 picshad">
    <div class="font4rem bldfnt whitefont ralefont tcent txtshadowblack">Welcome to Always on the Level Septic Maintenance
    </div>
    <div class="font2rem whitefont tcent tmar25">Kendall County, Comal County, Kerr County, and north side of Bexar County</div>
    <div class="tcent font2rem ralefont tmar50 whitefont">
    <%= link_to "See Our Services", welcome_services_path, class: "herobutton hvr-sweep-to-right nodec pad15 lpad25 rpad25 whitefont picshad" %>
    </div>
  </div>
  <div class="row tpad50 bpad50 bpad50 rpad50 lpad0">
    <div class="col-md-8 tealfont pull-left ralefont font2rem bolder lmar30 bmar25 lpad25">SPECIALIZING IN AEROBIC SEPTIC MAINTENANCE AND LIFT STATION REPAIRS<br><br>
      <div class="grayfont pull-left ralefont font2rem bolder bmar25">With 21 years of experience in the septic industry, Always On The Level Septic Maintenance, specializes in quality aerobic septic maintenance and lift station repair. Started in 2003, we are a family owned business that believes in providing personal and attentive customer service aimed at leaving you and your family completely satisfied. Never price gouging our clientele, we provide cost effective and trustworthy service that’s highly skilled and reliable. We actually answer the phone, and call you back right away.<br><br>For residents within Kendall County, Comal County, Kerr County, and north side of Bexar County, TX., call Mike Dunn at Always On The Level Septic Maintenance. We are always ready to answer your call.</div>
      <%= link_to "Learn More", welcome_about_path, class: "font2point5rem btn blackbutton hvr hvr-sweep-to-right pad15 lpad25 rpad25 tcent tmar35 bmar25 posrel tcent" %>
    </div>
    <div class="col-md-3 img-responsive tcent lmar25">
      <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-concrete.jpg", class: "rpad0 tmar0 tpad0 picshad tcent" %>
    </div>
  </div>
  <div class="row tpad50 bpad50 lmar0 rmar0 rpad0 whitesmokeground tcent">
    <div class="font3rem tealfont bolder tpad25 tcent lmar0 lpad0 rmar0 rpad0">SERVICES WE PROVIDE</div>
    <div class="tealline wid80per lmar10per bmar15"></div>
    <div class="row tcent">
      <div class="col-md-3 picshad bpad50 mar25 dispin tcent nofloat">
        <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-lift-system.jpg", class: "wid80per img-responsive tcent dispin tmar25 ht50per" %>
        <div class="tealfont font2point5rem tmar25 bline wid90per lmar5per">LIFT STATION<br>REPAIRS</div>
        <div class="grayfont font2rem tcent pad25">Septic lift stations use pumps and pipes used to increase your septic…</div>
        <div class="">
          <%= link_to "Read more", welcome_lift_path, class: "tealbutton whitefont hvr-sweep-to-right nodec pad15 lpad25 rpad25 whitefont picshad font2rem bolder" %>
        </div>
      </div>
      <div class="col-md-3 picshad bpad50 dispin mar25 tcent nofloat">
        <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-concrete-2jpg.jpg", class: "wid80per img-responsive tcent dispin tmar25 ht50per" %>
        <div class="tealfont font2point5rem tmar25 bline wid90per lmar5per">AEROBIC SEPTIC MAINTENANCE</div>
        <div class="grayfont font2rem tcent pad25">Aerobic treatment systems are an excellent way to increase water…</div>
        <div class="">
          <%= link_to "Read more", welcome_maintenance_path, class: "tealbutton whitefont hvr-sweep-to-right nodec pad15 lpad25 rpad25 whitefont picshad font2rem bolder" %>
        </div>
      </div>
      <div class="col-md-3 picshad bpad50 dispin mar25 tcent nofloat">
        <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-installation.jpg", class: "wid80per img-responsive tcent dispin tmar25 ht50per" %>
        <div class="tealfont font2point5rem tmar25 bline wid90per lmar5per">SEPTIC<br>INSTALLATION</div>
        <div class="grayfont font2rem tcent pad25">Septic installation is a lot more common in rural areas where houses are…</div>
        <div class="">
          <%= link_to "Read more", welcome_install_path, class: "tealbutton whitefont hvr-sweep-to-right nodec pad15 lpad25 rpad25 whitefont picshad font2rem bolder" %>
        </div>
      </div>
    </div>
  </div>
  <div class="specialblackback row picshad">
    <div class="tpad50 ralefont font3rem whitefont tcent bline wid80per lmar10per">AEROBIC SEPTIC MAINTENANCE
    </div>
    <div class="col-md-5 font2rem mar25 whitefont ralefont">Aerobic treatment systems are a marvelous way to recycle the usable water from your septic system and promote water efficiency. However, due to their complexity, these systems tend to require more maintenance and care. Aerobic treatment systems use forced air to create an aerobic environment that will treat wastewater, allowing it to be repurposed for used for surface irrigation.<br>At Always On The Level Septic Maintenance, we provide cost effective aerobic septic maintenance and repairs to keep your aerobic treatment system self-sufficient. We are a family owned company that offers trustworthy one-of-a-kind customer service that emphasizes your complete satisfaction.<br>Our aerobic septic maintenance includes:
      <ul class="tmar25 ralefont">
        <li>Soil analysis</li>
        <li>Septic permits</li>
        <li>Aerobic septic treatments</li>
        <li>Repairing, adjusting, or replacing any broken or malfunctioning parts</li>
        <li>Testing and recording the free chlorine residual</li>
        <li>Depth of sludge</li>
        <li>Volume of sludge</li>
        <li>Clarity tests</li>
        <li>And plenty more</li>
      </ul>
    </div>
    <div class="col-md-5 font2rem mar25 whitefont ralefont">
      If you’re looking for reliable aerobic septic maintenance within Kendall County, Comal County, Kerr County, and north side of Bexar County TX., contact us at 210-378-6096 today.<br><br>We service multiple aerobic treatment systems, including:
      <ul class="tmar25 ralefont">
        <li>Solar air</li>
        <li>Norweco</li>
        <li>Jet</li>
        <li>Bio Robix</li>
        <li>Bio Microbic</li>
        <li>Clear String</li>
        <li>New Water</li>
        <li>Aqua Save</li>
        <li>Aquaklear</li>
        <li>Cajun Air</li>
        <li>Hydro-Action</li>
      </ul>
      <%= link_to "Learn more", welcome_services_path, class: "tealbutton whitefont hvr-sweep-to-right nodec pad15 lpad25 rpad25 whitefont picshad font2rem bolder tmar50" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 tcent tmar75">
      <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-lift-system.jpg", class: "wid80per img-responsive tcent dispin tmar25 ht50per picshad tmar50" %>
      <a class="blackbutton2 nodec pad15 lpad50 rpad50 hvr-sweep-to-right picshad tmar50 bmar25" href="tel:2103786096"><span class="glyphicon glyphicon-earphone whitefont rmar15"></span><span class="whitefont">210.378.6096</span></a>
    </div>
    <div class="col-md-8 rpad25">
      <div class="font3rem tealfont tcent tpad50 bline">
        LIFT STATION REPAIRS
      </div>
      <div class="grayfont font2rem tpad25 lpad25">
        Lift stations are used to move wastewater from low to higher elevations when the the source is not satisfactory for gravity flow. Lift stations will also lower costly construction involved in lower excavation depths and piping.<br><br>At Always On The Level Septic Maintenance, we provide attentive, personal and quality lift station repairs and services that will have your system running at its best condition.<br><br>Included in our lift station repairs are:<br>
        <ul>
          <li>Non-clog lift stations</li>
          <li>Higher flow</li>
          <li>Wastewater receiving well</li>
          <li>Pumps and piping with associated valves</li>
          <li>Motors</li>
          <li>Power supply system</li>
          <li>Alarm system</li>
          <li>Odor control system</li>
          <li>And plenty more</li>
        </ul>
      </div>
    <div class="grayfont font2rem bpad50 lpad25">
      If you’re looking for all-inclusive and leading lift station repair within Kendall County, Comal County, Kerr County, and north side of Bexar County TX., contact us at 210-378-6096 and book your professional maintenance today.
    </div>
  </div>
</div>
