<div class="heroback tpad75 bpad75 picshad">
  <div class="font5rem bldfnt whitefont ralefont tcent tpad50 bpad75 txtshadowblack">Services
  </div>
</div>
<div class="row tpad25 bpad50 lmar0 rmar0 rpad0 whitesmokeground tcent">
  <div class="font3rem tealfont bolder tpad25 tcent lmar0 lpad0 rmar0 rpad0">SERVICES WE PROVIDE</div>
  <div class="tealline wid80per lmar10per bmar15"></div>
  <div class="row tcent">
    <div class="col-md-3 picshad bpad50 mar25 lmar30 dispin tcent nofloat">
      <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-lift-system.jpg", class: "wid80per img-responsive tcent dispin tmar25 ht50per" %>
      <div class="tealfont font2point5rem tmar25 bline wid90per lmar5per">LIFT STATION<br>REPAIRS</div>
      <div class="grayfont font2rem tcent pad25">Septic lift stations use pumps and pipes used to increase your septic…</div>
      <div class="">
        <%= link_to "Read more", welcome_lift_path, class: "tealbutton whitefont hvr-sweep-to-right nodec pad15 lpad25 rpad25 whitefont picshad font2rem bolder" %>
      </div>
    </div>
    <div class="col-md-3 picshad bpad50 dispin tcent nofloat mar25">
      <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-concrete-2jpg.jpg", class: "wid80per img-responsive tcent dispin tmar25 ht50per" %>
      <div class="tealfont font2point5rem tmar25 bline wid90per lmar5per">AEROBIC SEPTIC MAINTENANCE</div>
      <div class="grayfont font2rem tcent pad25">Aerobic treatment systems are an excellent way to increase water…</div>
      <div>
        <%= link_to "Read more", welcome_maintenance_path, class: "tealbutton whitefont hvr-sweep-to-right nodec pad15 lpad25 rpad25 picshad font2rem bolder" %>
      </div>
    </div>
    <div class="col-md-3 picshad bpad50 dispin tcent nofloat mar25">
      <%= image_tag "https://s3.us-east-2.amazonaws.com/always-on-the-level/septic-installation.jpg", class: "wid80per img-responsive tcent dispin tmar25 ht50per" %>
      <div class="tealfont font2point5rem tmar25 bline wid90per lmar5per">SEPTIC<br>INSTALLATION</div>
      <div class="grayfont font2rem tcent pad25">Septic installation is a lot more common in rural areas where houses are…</div>
      <div>
        <%= link_to "Read more", welcome_install_path, class: "tealbutton whitefont hvr-sweep-to-right nodec pad15 lpad25 rpad25 picshad font2rem bolder" %>
      </div>
    </div>
  </div>
  <div class="tmar25 bmar25">
    <%= link_to "Contact Us", welcome_contact_path, class: "blackbutton2 whitefont hvr-sweep-to-right nodec pad15 lpad50 rpad50 picshad font2rem bolder" %>
  </div>
</div>
